TRANSIT_SENTINEL_HOME=/sep/transit-sentinel
PYTHON_BIN=/usr/bin/python3
VALKEY_URL=redis://127.0.0.1:6381/15

TRANSIT_AGENCY=mbta
TRANSIT_SYSTEM_NAME=MBTA
TRANSIT_API_HOST=127.0.0.1
TRANSIT_API_PORT=8000
TRANSIT_REPLAY_ENABLED=0

TRANSIT_ARCHIVE_CURRENT_ONLY=1
TRANSIT_ARCHIVE_RETENTION_DAYS=90
TRANSIT_ARCHIVE_INTERVAL_SECONDS=30
TRANSIT_INGEST_INTERVAL_SECONDS=5
TRANSIT_HISTORY_RETENTION=720
TRANSIT_EVIDENCE_RETENTION_DAYS=90
TRANSIT_FEED_STALE_AFTER_SECONDS=90
TRANSIT_GTFS_LIGHTWEIGHT=1

MBTA_ARCHIVE_ROOT=/sep/transit-sentinel/data/feeds/mbta
MBTA_STATIC_FEED=/sep/transit-sentinel/data/feeds/mbta/current/MBTA_GTFS.zip
MBTA_VEHICLE_FEED=/sep/transit-sentinel/data/feeds/mbta/current/VehiclePositions_enhanced.json
MBTA_TRIP_FEED=/sep/transit-sentinel/data/feeds/mbta/current/TripUpdates_enhanced.json
MBTA_ALERTS_FEED=/sep/transit-sentinel/data/feeds/mbta/current/Alerts_enhanced.json
